<!DOCTYPE html>
<html>
    <head>
        <title>ALTAY-PYO</title>
        <style>
        
        </style>
        
        {{>header}}
        <script src="js/index.js"></script>
    </head>
    <body>
        {{!-- {{>banner}} --}}
        {{>content}}
        {{>footer}}
    </body>
</html>