<!DOCTYPE html>
<html>

<head>
    <title>ALTAY-PYO</title>
    {{>header}}
    <script src="js/index.js"></script>
</head>

<body style="padding: 0px">
            <a href="#modalPdf" id="showModalPdf" role="button" class="btn btn-primary" style="visibility: hidden;" data-toggle="modal"></a>
            <div id="pdf-container"></div>

            {{!-- <div class="modal fade" id="modalPdf" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body p-4" id="pdfResult" style="height: 100%; border: 1px solid red">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div> --}}
    {{!-- {{>banner}} --}}
    {{>content}}
    {{>footer}}
</body>

</html>