<banner>
    <div class="jumbotron" style="margin-bottom:0;">
            <h1 class="display-4">Altay PYO</h1>
              <p class="lead">Altay proje yönetim ofisi örnek haftalık rapor sorgulama uygulaması</p>
    </div>
</banner>    
        