<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/content.css">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/easyPDF.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.worker.js"></script>

<div class="container" id="div-container">
    <div class="row">
        <section>
            <div class="wizard" style="width=100%">
                <div class="wizard-inner" style="display: none">
                    <div class="connecting-line" style="display: none"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#div-baslangic" data-toggle="tab" id="a-baslangic" aria-controls="step1" role="tab"
                                title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="#div-yillar" data-toggle="tab" id="a-yillar" aria-controls="step2" role="tab"
                                title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#div-haftalar" data-toggle="tab" id="a-haftalar" aria-controls="step3" role="tab"
                                title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="#div-projeler" data-toggle="tab" id="a-projeler" aria-controls="complete"
                                role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form role="form" style="width=100%">
                    <div class="tab-content pt-0" style="width=100%">
                        <div class="tab-pane active" id="div-baslangic" role="tabpanel" style="width=100%">
                            {{>sorgulamaTipi}}
                        </div>
                        <div class="tab-pane" id="div-yillar" role="tabpanel">
                            <h1 class="display-1">Yıllar</h1>
                            <button type="button" class="btn btn-default prev-step">Geri</button>
                            <hr />
                            {{>yillar}}
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Geri</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="div-haftalar" role="tabpanel">
                            <h1 class="display-1">Haftalar</h1>
                            <button type="button" class="btn btn-default prev-step">Geri</button>
                            <hr />
                            {{>haftalar}}
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Geri</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="div-projeler" role="tabpanel">
                            <h1 class="display-1">Projeler</h1>
                            <button type="button" class="btn btn-default prev-step">Geri</button>
                            <hr />
                            <div id="projeler">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>