<haftalar>
    <link rel="stylesheet" href="css/haftalar-landscape.css" />
    <link rel="stylesheet" href="css/haftalar-portrait.css" />
    <script>
        $(document).ready(function () {
            $("#haftalar-container").append(function () {
                let weekCounter = 52;
                for (var i = 13; i > 0; i--) {
                    $("#haftalar-container").append(rowStr(i));
                    for (let j = weekCounter; j > weekCounter - 4; j--) {
                        $("#hafta_satir_" + i).append(colStr(j));
                    }
                    weekCounter -= 4;
                }
            })
        });
        var colStr = function (num) {
            return '<div class="col-3 col-hafta" >' +
                '<a class="btn-hafta" data-item="' + num + '">' +
                '<h1>' + num + '</h1>' +
                '</a>'
            '</div>'
        };

        var rowStr = function (num) {
            return '<div class="row" id=hafta_satir_' + num + '>' +
                '</div>'
        };


    </script>

    <div class="container-flex" id="div-haftalar">
        <div class="row align-items-center">
            <div class="col-11">
                <h1 class="display-3 label-yillar">Haftalık Proje İzleme Raporları</h1>
            </div>
            <div class="col-1 align-self-center">
                <button type="button" class="btn btn-info prev-step btn-lg btn-circle btn-xl">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="container" id="haftalar-container">

    </div>
</haftalar>