<sorgulamaTipi>
    <div class="list-group" id="list-tab" role="tablist" style="width=100% ">
      <a class="list-group-item list-group-item-action" style="width=100%; padding: 30px 400px 30px 10px;" id="btnYillaraGoreSorgula"><h1 class="display-1">Yıllara Göre</h1></a>
      <a class="list-group-item list-group-item-action" style="width=100%; padding: 30px 400px 30px 10px;" id="btnProjelereGoreSorgula"><h1 class="display-1">Projelere Göre</h1></a>
    </div>
</sorgulamaTipi>