<sorgulamaTipi>
  <div class="container-flex">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action menu-button" style="width=100%; padding: 30px 400px 30px 10px;"
        id="btnYillaraGoreSorgula">
        <h1 class="display-1">Yıllık proje izleme raporları</h1>
      </a>
      <span class="list-group-item list-group-item-action" style="width=100%; padding: 30px 400px 30px 10px;"
        id="btnProjelereGoreSorgula">
        <h1 class="display-1">Projeler</h1>
      </span>
      <span class="list-group-item list-group-item-action" style="width=100%; padding: 30px 400px 30px 10px;"
        id="btnProjelereGoreSorgula">
        <h1 class="display-1">Finansal Durum</h1>
      </span>
    </div>
  </div>
</sorgulamaTipi>