<sorgulamaTipi>
  <div class="container-flex" id="divSorgulamaTipi">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action menu-button" id="btnYillaraGoreSorgula">
        <h1 class="display-1">Haftalık Rapor</h1>
      </a>
      <a class="list-group-item list-group-item-action menu-button" id="btnProjelereGoreSorgula">
        <h1 class="display-1">Proje</h1>
      </a>
      <a class="list-group-item list-group-item-action menu-button" id="btnPersonel">
        <h1 class="display-1">Personel</h1>
      </a>
      <a class="list-group-item list-group-item-action menu-button" id="btnIsGelistirme">
        <h1 class="display-1">İş Geliştirme</h1>
      </a>
      <a class="list-group-item list-group-item-action menu-button" id="btnFinansalDurum">
        <h1 class="display-1">Finans</h1>
      </a>
    </div>
  </div>
</sorgulamaTipi>