@media (orientation: portrait) {
    body {
        overflow: hidden;
    }
    .label-yillar {
        color: white;
        font-variant: small-caps;
        font-weight: 100;
        font-family: 'Calibri';
    }
    .btn-circle.btn-xl {
        width: 50px;
        height: 50px;
        padding: 10px 10px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
        background-color: #2983C2;
    }
    .overlay {
        position: fixed;
        overflow-y: scroll;
        width: 80%;
        padding: 5%;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    .btn-yil {
        margin: 1px;
        padding: 50px 10px 50px 10px;
        background-color: #4682B4;
        color: white;
        background-color: rgba(70, 130, 180, 0.7);
        cursor: pointer;
        font-weight: 500;
        font-family: 'Calibri';
    }
    .btn-yil h2 {
        color: white;
        font-size: 50px;
    }
    * {
        box-sizing: border-box;
    }
    /* Create two equal columns that floats next to each other */
    .column-yil {
        float: left;
        /* width: 50%; */
        /* padding: 10px; */
        height: 100%;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Style the buttons */
    .btn-layout {
        border: none;
        outline: none;
        padding: 24px 32px;
        background-color: #f1f1f1;
        cursor: pointer;
    }
    .btn-layout:hover {
        background-color: #ddd;
    }
}